#box{
    height: 150px;
    width: 150px;
    background-color: darkcyan;
    text-align: center;
    
}
#box2{
    height: 150px;
    width: 150px;
    background-color: yellow;
    text-align: center;
    overflow: auto;

}